.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

#first{
    background-color: aqua;
    display: inline-block;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}
#second{
    background-color: aquamarine;
    display: flex;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}
#third{
    background-color: cornflowerblue;
    display: block;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}
h1{
    display: inline-flex;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}
h2{
    display: inline-block;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}
h3{
    display: inline-block;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}