#container{
    height: 720px;
    width: 720px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}
.content{
    display: inline-block;
    height: 75px;
    width: 75px;
    border: 2px solid black;
    background-color: aqua;
}