div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
#Static{
    background-color: aqua;
    position: static;
}
#Relative{
    background-color: cornflowerblue;
    position: relative;
    top: 500px;
}
#Absolute{
    background-color: bisque;
    position: absolute;
    top: 400px;
}
#Fixed{
    background-color: chartreuse;
    position: fixed;
    right: 0px;
}
#Sticky{
    background-color: cadetblue;
    position: sticky;
    top: 100px;
}