h1{
    color: red;
    background-color: aqua;
}
h2{
    color: white;
    background-color: black;
}
h3{
    color: brown;
    background-color: antiquewhite;
}
h4{
    color: blue;
    background-color: cadetblue;
}
h5{
    color: black;
    background-color: aquamarine;
}
h6{
    color: chocolate;
    background-color: cornflowerblue;
}
